{# Draws select replace input #}
{% macro selectReplace(options, items) %}
    {% import _self as forms %}
	<a class="selectReplace {{ options.className }} {% if not options.multiple %}single{% endif %}" data-input="{{ options.name }}" {% if options.validation %}data-validate="{{ options.validation }}"{% endif %} data-event="click: selectReplace.drop(){% if options.event %}; {{  options.event }}{% endif %}">{{ options.value ? options.value : '&nbsp;' }}</a>
	{% if items is iterable %}
		{{ forms.selectDropDown(options, items) }}
	{% endif %}
{% endmacro %}

{# Draws select replace drop down menu #}
{% macro selectDropDown(options, items) %}
    {% import _self as forms %}
	<div class="selectReplaceChoose hidden {% if not options.multiple %}single{% endif %}" data-input="{{ options.name }}">
		{% if options.search %}
			<label class="search">
				<span class="name">Фильтр</span>
				<input type="text" data-event="keyup: selectReplace.filter"/>
			</label>
		{% endif %}
		<div class="groups" {% if options.maxHeight %}style="max-height: {{ options.maxHeight }}px"{% endif %}>
			{% if items.groups %}
				{% for group in items.groups %}
					<div class="column">
						{{ forms.selectReplaceGroup(group, options) }}
					</div>
				{% endfor %}
			{% else %}
				<div class="column" style="float: none;">
					{{ forms.selectReplaceGroup(items, options) }}
				</div>
			{% endif %}
		</div>
		{% if options.multiple and not options.noFooter %}
		<div class="footer">
			<a href="#" class="button" onclick="$('body').trigger('click'); return false;">Закрыть</a>
			<a href="#" data-event="click: selectReplace.selectAll">Выбрать все</a>
			<a href="#" data-event="click: selectReplace.unSelectAll">Снять выделение</a>
		</div>
		{%  endif %}
	</div>
{% endmacro %}

{# Draws select replace group #}
{% macro selectReplaceGroup(items, options) %}
	{% for i, item in items %}
        {% set value = item.value ? item.value : item %}
        {% set html = item.html ? item.html : item %}
		{% set checked = 	(not (options.selected is null) and (value == options.selected or value in options.selected)) or
							(options.selected is null and item.checked) or
							(not options.selected is null and item.value == options.selected) or
							(not options.selected is null and options.selected is iterable and item.value in options.selected) or
							(options.checkAll) %}
        {% if i|isString and not item.value %}{% set value = i %}{% endif %}
		<label data-event="mouseover: selectReplace.showTip; mouseout: selectReplace.hideTip">
			<input type="{{ options.multiple ? 'checkbox' : 'radio' }}"
				   name="{{ options.name }}"
				   value="{{ item.value }}"
				   data-event="change: selectReplace.change" {% if checked %}checked="checked"{% endif %} />
			<span class="name">{% if item.raw  %}{{ item.html|raw }}{%  else  %}{{ item.html }}{% endif %}</span>
			{% if item.tip %}
				<div class="hidden checkItemTip">{{ item.tip|raw }}</div>
			{% endif %}
		</label>
	{% endfor %}
{% endmacro %}