
{# Draws select replace input #}
{% macro selectReplace(options, items) %}
	<a class="selectReplace {{ options.className }} {% if not options.multiple %}single{% endif %}" input="{{ options.name }}" {% if options.validation %}data-validate="{{ options.validation }}"{% endif %} sky-event="click: selectReplace.drop(){% if options.event %}; {{  options.event }}{% endif %}">{{ options.value ? options.value : '' }}</a>
	{% if items is iterable %}
		{{ _self.selectDropDown(options, items) }}
	{% endif %}
{% endmacro %}

{# Draws select replace drop down menu #}
{% macro selectDropDown(options, items) %}
	<div class="selectReplaceChoose {% if not options.multiple %}single{% endif %}" data-input="{{ options.name }}">
		{% if options.search %}
			<div class="search">
				<span>Фильтр</span>
				<input type="text" sky-event="keyup: selectReplace.filter"/>
			</div>
		{% endif %}
		<div class="groups" {% if options.maxHeight %}style="max-height: {{ options.maxHeight }}px"{% endif %}>
			{% if items.groups %}
				{% for group in items.groups %}
					<div class="column">
						{{ _self.selectReplaceGroup(group, options) }}
					</div>
				{% endfor %}
			{% else %}
				<div class="column" style="float: none;">
					{{ _self.selectReplaceGroup(items, options) }}
				</div>
			{% endif %}
		</div>
		{% if options.multiple and not options.noFooter %}
		<div class="footer">
			<a href="#" class="button" onclick="$('body').trigger('click'); return false;">Закрыть</a>
			<a href="#" sky-event="click: selectReplace.selectAll">Выбрать все</a>
			<a href="#" sky-event="click: selectReplace.unSelectAll">Снять выделение</a>
		</div>
		{%  endif %}
	</div>
{% endmacro %}

{# Draws select replace group #}
{% macro selectReplaceGroup(items, options) %}
	{% for i, item in items %}
		{% if item.value or item.html %}
			<label>
				<input {% if options.selected is null and item.checked %}checked="checked"
					   {% elseif not options.selected is null and item.value == options.selected %}checked="checked"
					   {% elseif not options.selected is null and options.selected is iterable %}
							{% if item.value in options.selected %}checked="checked"{% endif %}
					   {% elseif options.checkAll %}checked="checked"{% endif %} type="{{ options.multiple ? 'checkbox' : 'radio' }}" name="{{ options.name }}" value="{{ item.value }}"/>
				<span class="name">{% if item.raw  %}{{ item.html|raw }}{%  else  %}{{ item.html }}{% endif %}</span>
				{% if item.tip %}
					<div class="hidden checkItemTip">
						{{ item.tip|raw }}
					</div>
				{% endif %}
			</label>
		{% else %}
			{% set value = item %}
			{% set html = item %}
			{% if i|isString %}{% set value = i %}{% endif %}
			<label>
				<input {% if (not (options.selected is null) and (value == options.selected or value in options.selected)) or options.checkAll %}checked="checked"{% endif %} type="{{ options.multiple ? 'checkbox' : 'radio' }}" name="{{ options.name }}" value="{{ value }}"/>
				<span class="name">{{ html }}</span>
			</label>
		{% endif %}
	{% endfor %}
{% endmacro %}