{% extends "/shared/basePage.twig" %}
{% import "shared/forms.twig" as forms %}
{% import "shared/elements.twig" as elements %}

{% block content %}
	<div class="logo"></div>

	<div style="max-width: 300px;margin: auto;">
	<!-- Output page information -->
    {% for message in resultMessages %}
        {{ elements.resultMessage(message) }}
    {% endfor %}
	</div>
	{% if preferences.authenticate.use %}
	<form action="" method="post" style="background: #fff;border-radius: 10px; margin: 25px auto;width: 250px;" data-event="submit: shared.validForm">
		<input type="hidden" name="action" value="login">
		<fieldset class="upper">
			<label>
				<span class="name">Login</span>
				<input type="text" name="username" value="{{ post.username }}" data-validate="required">
			</label>
			<label>
				<span class="name">Password</span>
				<input type="password" name="password" data-validate="required">
			</label>
		</fieldset>
		<fieldset class="submit">
			<input type="submit" class="button">
		</fieldset>
	</form>
	{% endif %}
	<a href="#" class="button" data-event="click: page.submit">Modal example</a>
	<a href="/manage" class="button">Entity builder</a>
	<span class="info">Database: {{ preferences.database.use ? "Yes" : "No" }}</span>
	<span class="info">Auth: {{ preferences.authenticate.use ? "Yes" : "No" }}</span>
	{% if me %}
		<span class="info">User: {{ me.username }}</span>
	{% endif %}
	<template id="page-window">
		<form action="">
			<h2>Test form</h2>
			<fieldset class="">
				<div class="label">
					<span class="name"><span data-tip-hover="Tip test">Select example</span></span>
                    {{ forms.selectReplace({ name: 'text', multiple: true, value: "All" }, [
                    { value: 1, html: "First" },
                    { value: 2, html: "Second" },
                    ]) }}
					<span class="desc">example description</span>
				</div>
				{% verbatim %}
					{% skyImport forms as forms %}
					<div class="label">
						<span class="name"><a href="#" data-event="click: page.showMenu">Another example</a></span>
						{{ forms.selectReplace({ name: 'text2', value: 'Pick value' }, [
						{ value: 1, html: "First" },
						{ value: 2, html: "Second" },
						]) }}
						<span class="desc">another example description</span>
					</div>
				{% endverbatim %}
				<label>
					<span class="name">Checkboxes</span>
					<input type="checkbox">
					<span class="desc">Yes i want em</span>
				</label>
			</fieldset>
			<fieldset class="submit">
				<input type="submit" class="button">
			</fieldset>
		</form>
	</template>
	<template id="page-menu">
		<p>Sometimes there might be <br>
			more text that one string <br>
			can handle</p>
	</template>
{% endblock %}